<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/img/tabletop.jpg" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                            <span>Welcome</span>
                          </h2>
                                    <br>
                                    <h3>
                            <span>to Food Planner</span>
                          </h3>
                                    <br>
                                    <div class="">
                                        <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a>
                                        <a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                                </div>
                            </div>
                            <!-- /header-text -->
                        </div>

                    </div>
                    <!-- /header-text -->
                </div>
            </div>

        </div>
        <!-- /carousel -->
        </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
